/* ========================================================== */
body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  display: flex;
  min-height: 100vh;
}

p {
  font-size: 12px;
}

.Maincontent {
  justify-content: space-between;
  order: 2;
  padding-right: 30px;
  padding-left: 50px;
  width: 70%;
}

.Maincontent i {
  color: #feca07;
}

.Maincontent-title {
  border-bottom: 1.5px solid #feca07;
  padding-bottom: 5px;
  font-size: 20px;
}

.Maincontent-title span {
  vertical-align: top;
  text-transform: uppercase;
  font-size: 17px;
}

.MainInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #feca07;
  width: 30%;
  color: #404040;
}

.MainInfo h2 {
  background-color: #404040;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #feca07;
  font-size: 17px;
  font-weight: lighter;
}

.logo {
  color: #feca07;
}

#id-titre {
  margin-bottom: 40px;
}

.titre {
  margin-bottom: 25px;
}

.titre h1 {
  margin-bottom: 0px;
  text-align: left;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: lighter;
}

.titre h1 span {
  color: #feca07;
}

.titre div {
  position: relative;
  margin-top: 0;
  font-size: 16px;
}

.titre div::after {
  display: block;
  position: absolute;
  border-bottom: 2px solid #feca07;
  width: 40px;
  content: "";
}

.titre-sidebar {
  display: none;
}

/* ========================================================== */

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.item-duration {
  display: flex;
  width: 35%;
}

.item-duration-date {
  font-size: 12px;
}
.item-duration-logo-before {
  padding-top: 4px;
  padding-right: 10px;
  font-size: 0.6rem;
}

.item-duration-logo-after {
  padding-top: 4px;
  padding-right: 15px;
  padding-left: 3px;
  font-size: 0.5rem;
}

.item-status {
  width: 65%;
}

.item-status h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bolder;
}

.item-status h5 {
  margin: 5px 0;
  font-size: 12px;
  font-weight: lighter;
}

.item-status p {
  margin-top: 0;
  margin-bottom: 2px;
}

.item-status ul {
  margin-top: 0;
  padding: 5px 0 0 20px;
  font-size: 12px;
}

/* ========================================================== */

.recommandations-items {
  display: flex;
  justify-content: space-between;
}

.recommandations-items div {
  width: 46%;
}

.recommandations-items-name {
  display: inline-block;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-style: normal;
}

.recommandations-items p {
  text-align: justify;
  font-style: italic;
}

/* ========================================================== */

.portrait {
  display: flex;
  justify-content: center;
}

.portrait img {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

/* ========================================================== */

.contact div {
  padding: 10px 20px;
}

.contact a {
  font-style: italic;
}

/* ========================================================== */

.apropos p {
  padding: 20px 25px;
  text-align: justify;
}

/* ========================================================== */

.loisirs-logo {
  display: flex;
  justify-content: space-around;
}

.loisirs-logo i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #404040;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 25px;
}
/* ============================================================= */

@media screen and (max-width: 599px) {
  body {
    flex-direction: column;
  }

  .Maincontent {
    /* order: 1; */
    padding: 0 5px;
    width: 95%;
  }

  .Maincontent-title span {
    font-size: 15px;
  }

  .MainInfo {
    /* order: 2; */
    width: 100%;
  }

  .titre-Maincontent {
    display: none;
  }

  .titre-sidebar {
    display: unset;
    background-color: white;
    padding: 0 0 25px 10px;
  }

  /* ========================================================== */

  .item {
    flex-direction: column;
    margin-bottom: 5px;
  }

  .item h4 {
    font-weight: bolder;
  }

  .item-duration {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
  }

  .item-status {
    width: 100%;
  }

  /* ========================================================== */

  .recommandations-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .recommandations-items div {
    width: 100%;
  }

  .portrait {
    display: none;
  }

  .apropos p {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 15px;
    text-align: justify;
  }
}

/* ========================================================================== */
